* {
    font-family: "Noto Mono";
}

/*navbar*/

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar p, a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
}

.navbar a {
    bottom: 0;
    position: sticky;
    height: 100%;
}

.navbar p {
    font-weight: bolder;
    font-family: "Noto Sans";
    margin: 0;
}

.navbar li {
    float: left;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

/*msc*/
