/*navbar*/

.navbar {
    font-family: "Noto Mono", monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
}

.navbar .adminOnly {
    background-color: #500;
}

.navbar li {
    float: left;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.navbar li a:hover:is(.active) {
    background-color: #049A5D;
}

.navbar .adminOnly:hover:is(.active) {
    background-color: #800;
}

.navbar .active:not(.adminOnly) {
    background-color: #04AA6D;
}

.navbar .active:is(.adminOnly) {
    background-color: #A00;
}

/* Login/Registration form */

#loginContainer {
    background-color: #DFFFDF;
    border-radius: 20px;
    padding: 30px 80px;
    text-align: center;
    width: fit-content;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#loginContainer h1 {
    font-family: "Noto Mono", monospace;
    margin-bottom: 50px;
    color: #049A5D;
}

#loginContainer form {
    margin: 40px 0;
}

#loginContainer input {
    font-size: 18px;
    box-sizing: border-box;
    padding: 12px;
    width: 300px;
    height: 55px;
    margin: 0 0 15px 0;
    border-radius: 15px;
    outline: none;
    border: none;
}

#loginContainer input:focus {
    border-style: solid;
    border-width: 1px;
    border-color: #049A5D;
}

#loginContainer input[type=submit] {
    background-color: #CEEECE;
}

#loginContainer input[type=submit]:hover {
    background-color: #BDDDBD;
}

#loginContainer a {
    color: #049A5D;
}

/*msc*/

main {
    margin-top: 100px;
    font-family: "Noto Sans", sans-serif;
}
