/*navbar*/

.navbar {
    font-family: "Noto Mono", monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
}

.navbar .adminOnly {
    background-color: #500;
}

.navbar li {
    float: left;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.navbar li a:hover:is(.active) {
    background-color: #049A5D;
}

.navbar .adminOnly:hover:is(.active) {
    background-color: #800;
}

.navbar .active:not(.adminOnly) {
    background-color: #04AA6D;
}

.navbar .active:is(.adminOnly) {
    background-color: #A00;
}

/* inputs */

input {
    box-sizing: border-box;
    border-radius: 15px;
    outline: none;
    border: none;
}

input:focus {
    border-style: solid;
    border-width: 1px;
    border-color: #049A5D;
}

input[type=submit] {
    background-color: #CEEECE;
}

input[type=submit]:hover {
    background-color: #BDDDBD;
}

/* Login/Registration form */

#loginContainer {
    background-color: #DFFFDF;
    border-radius: 20px;
    padding: 30px 80px;
    text-align: center;
    width: fit-content;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#loginContainer input {
    padding: 12px;
    width: 300px;
    height: 55px;
    margin: 0 0 15px 0;
}

#loginContainer h1 {
    font-family: "Noto Mono", monospace;
    margin-bottom: 50px;
    color: #049A5D;
}

#loginContainer form {
    margin: 40px 0;
}

#loginContainer a {
    color: #049A5D;
}

/* profile */

.oneThreeContainer {
    margin: 0 auto;
    overflow: hidden;
}

.oneThreeContainer .left {
    float: left;
    width: 25%;
    padding-right: 25px;
}

.oneThreeContainer .right {
    overflow: hidden;
    padding-left: 25px;
}

img {
    width: 100%;
    object-fit: contain;
}

.profileInfoTable {
    border-collapse: collapse;
    width: 100%;
}

.profileInfoTable * {
    border-style: none;
    margin: 0;
    padding: 5px;
}

.profileInfoTable th {
    background-color: #CEEECE;
    border-radius: 15px 15px 0 0;
}

.profileInfoTable tr:nth-child(even) {
    background-color: #DFFFDF;
}

.seriesTable {
    border-collapse: collapse;
    width: 100%;
}

.seriesTable .header * {
    background-color: #CEEECE;
}

.seriesTable .header th:first-child {
    border-top-left-radius: 15px;
}

.seriesTable .header th:last-child {
    border-top-right-radius: 15px;
}

.seriesTable tr:not(.header):hover td {
    background-color: #DFFFDF;
}

.seriesTable td:not(.title) {
    text-align: center;
}

/* search */

.searchBox {
    background-color: #DFFFDF;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.searchBox input {
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 10px;
}

/*msc*/

main {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
}
